{% extends "store/base.html" %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'store/js/allgames_filter.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/allgames.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">All Games</h1>
        <h3 class="style-header">Filter results</h3>
        <form id="js-search-form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="name_filter_addon">Title</span>
                    <input id="name_filter" type="text" class="form-control" placeholder="Name of game" aria-describedby="name_filter_addon">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="tag_filter_addon">Tags</span>
                    <input id="tag_filter" type="text" class="form-control" placeholder="Tags separated by spaces" aria-describedby="tag_filter_addon">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="price_filter_addon1">Price</span>
                    <input id="price_filter_low" type="number" class="form-control" placeholder="0 €" aria-describedby="price_filter_addon1">
                    <span class="input-group-addon" id="price_filter_addon2">to</span>
                    <input id="price_filter_high" type="number" class="form-control" placeholder="unlimited" aria-describedby="price_filter_addon2">
                </div>
            </div>
        </form>
    </div>
    <div id="gamelist" class="container bottom">
        {% for g in games %}
            <h3><a href="{% url 'gamedetailed' g.pk %}">{{ g.title }}</a></h3>
            <div class="row">
                <div class="col-md-2">
                    {% if g.img_url %}
                        <img src="{{ g.img_url }}" class="img-thumbnail" alt="picture of game"></img>
                    {% else %}
                        <img src="{% static 'store/images/russia.jpeg' %}" class="img-thumbnail" alt="picture of game"></img>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if g.description %}
                        <p>{{ g.description }}</p>
                    {% else %}
                        <p>No description available.</p>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <span>Tags: </span>
                    <ul class="list-unstyled">
                    {% for t in g.get_tags %}
                        <li>{{ t }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2">
                {% if g not in owned %}
                    {% if g.price > 0 %}
                    <p class="js-price">{{ g.price }} €</p>
                    <form action="/checkout" method="post">  {% csrf_token %}
                        <input name="game_id" type="hidden" value="{{ g.pk }}">
                        {% if "Players" == request.user.groups.all.0.name %}
                            <button type="submit" formaction="/checkout">Buy now</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <p class="js-price">FREE!</p>
                    <form action="/checkout" method="post">  {% csrf_token %}
                        <input name="game_id" type="hidden" value="{{ g.pk }}">
                        {% if "Players" == request.user.groups.all.0.name %}
                            <button type="submit" formaction="/checkout">Add to my games</button>
                        {% endif %}
                    </form>
                    {% endif %}
                {% else %}
                    <p>In my games</p>
                    <a href="{% url 'play' g.pk %}"><button>Play now!</button></a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}