{% extends "store/base.html" %}

{% load staticfiles %}

{% block head %}
<script src="{% static 'store/js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'store/js/allgames_filter.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Games</h1>
    <h3>Filter results</h3>
    <div class="input-group">
        <span class="input-group-addon" id="name_filter_addon">Title</span>
        <input id="name_filter" type="text" class="form-control" placeholder="Name of game" aria-describedby="name_filter_addon">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="tag_filter_addon">Tags</span>
        <input id="tag_filter" type="text" class="form-control" placeholder="Tags separated by spaces" aria-describedby="tag_filter_addon">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="price_filter_addon1">Price</span>
        <input id="price_filter_low" type="text" class="form-control" placeholder="0 €" aria-describedby="price_filter_addon1">
        <span class="input-group-addon" id="price_filter_addon2">to</span>
        <input id="price_filter_high" type="text" class="form-control" placeholder="unlimited" aria-describedby="price_filter_addon2">
    </div>
</div>
<div id="gamelist" style="height:500px;overflow:auto;" class="container">
    {% for g in games %}
    <h3>{{ g.title }}</h3>
    <div class="row">
        <div class="col-md-2">
            <img src="" alt="picture of game"></img>
        </div>
        <div class="col-md-6">
            <p>Description</p>
        </div>
        <div class="col-md-2">
            <span>Tags: </span>
            <ul>
            {% for t in g.get_tags %}
                <li>{{ t }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-2">
        {% if g.pk not in owned %}
            {% if g.price > 0 %}
            <p>{{ g.price }} €</p>
            <form action="/checkout" method="post">  {% csrf_token %}
                <input name="game" type="hidden" value={{ g }}>
                <button type="submit" formaction="/checkout">Buy now</button>
            </form>
            {% else %}
            <p>FREE!</p>
            <button>Add to my games</button>
            {% endif %}
        {% else %}
            <p>In my games</p>
        {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}