{% extends "store/base.html" %}

{% block content %}
    
    <h2>Checkout</h2>
    <p>You are planning to buy &quot;{{ game_title }}&quot;. Do you want to proceed?</p>
    <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="post">
            <input type="hidden" name="pid" value="{{ pid }}" />
            <input type="hidden" name="sid" value="{{ sid }}" />
            <input type="hidden" name="success_url" value="{{ success_url }}" />
            <input type="hidden" name="cancel_url" value="{{ cancel_url }}" />
            <input type="hidden" name="error_url" value="{{ error_url }}" />
            <input type="hidden" name="checksum" value="{{ checksum }}" />
            <input type="hidden" name="amount" value="{{price}}" />
        <button type="submit" value="Accept Payment">Yes, more games!</button>
    </form>
    <form action="/allgames" method="get">
        <button type="submit">No, cancel purchase.</button>
    </form>
{% endblock %}