{% extends "store/base.html" %}

{% block content %}
    <div class="container">
        <h2>Checkout</h2>
        {% if price > 0 %}
        <p>You are planning to buy &quot;{{ game_title }}&quot; for {{ price }}€. Do you want to proceed?</p>
        <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="post"> {% csrf_token %}
                <input type="hidden" name="pid" value="{{ pid }}" />
                <input type="hidden" name="sid" value="{{ sid }}" />
                <input type="hidden" name="success_url" value="{{ success_url }}" />
                <input type="hidden" name="cancel_url" value="{{ cancel_url }}" />
                <input type="hidden" name="error_url" value="{{ error_url }}" />
                <input type="hidden" name="checksum" value="{{ checksum }}" />
                <input type="hidden" name="amount" value="{{ price }}" />
            <button class="btn btn-success" type="submit" value="Accept Payment">Yes, more games!</button>
        </form>
        <br>
        <form action="{% url 'cancel_order' %}" method="get">
            <input type="hidden" name="pid" value="{{ pid }}" />
            <input type="hidden" name="ref" value="0" />
            <input type="hidden" name="checksum" value="0" />
            <button class="btn btn-danger" type="submit">No, cancel purchase.</button>
        </form>
        {% else %}
        <p>You are planning to add the free game &quot;{{ game_title }}&quot; to your games. Do you want to proceed?</p>
        <form action="{% url 'confirm_order' %}" method="get">
            <input type="hidden" name="pid" value="{{ pid }}" />
            <input type="hidden" name="ref" value="0" />
            <input type="hidden" name="checksum" value="0" />
            <input type="hidden" name="price" value="0" />
            <button class="btn btn-success" type="submit">Yes</button>
        </form>
        <br>
        <form action="{% url 'cancel_order' %}" method="get">
            <input type="hidden" name="pid" value="{{ pid }}" />
            <input type="hidden" name="ref" value="0" />
            <input type="hidden" name="checksum" value="0" />
            <button class="btn btn-danger" type="submit">No</button>
        </form>
        {% endif %}
    </div>
{% endblock %}