{% extends "store/base.html" %}

{% load staticfiles %}
{% block head %}
<script src="{% static 'store/js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'store/js/editgame.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/editgame.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if game.pk %}
        <h1>Edit game: {{ game.title }}</h1>
        {% else %}
        <h1>Submit new game</h1>
        {% endif %}
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post"> {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if game %}
                <input id="title" name="title" type="text" value="{{ game.title }}" placeholder="{{ game.title }}" class="form-control"></input>
                {% else %}
                <input id="title" name="title" type="text" placeholder="My Awesome Game" class="form-control"></input>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="url">URL:</label>
                {% if form.url.errors %}
                    {% for error in form.url.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if game %}
                <input id="url" name="url" type="url" value="{{ game.url }}" placeholder="{{ game.url }}" class="form-control"></input>
                {% else %}
                <input id="url" name="url" type="url" placeholder="http://example.com/game.html" class="form-control"></input>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                {% if form.price.errors %}
                    {% for error in form.price.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="input-group">
                    <span class="input-group-addon">€</span>
                    {% if game %}
                    <input id="price" name="price" type="number" value="{{ game.price }}" placeholder="{{ game.price }}" class="form-control"></input>
                    {% else %}
                    <input id="price" name="price" type="number" placeholder="0" class="form-control"></input>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if game %}
                <textarea id="description" name="description" placeholder="{{ game.description }}" class="form-control">{{ game.description }}</textarea>
                {% else %}
                <textarea id="description" name="description" placeholder="Most. Awesome. Game. Ever." class="form-control"></textarea>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="tag0">Tags:</label>
                {% if form.tags.errors %}
                    {% for error in form.tags.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if game %}
                {% for t in game.get_tags %}
                    <div class="input-group">
                        <input type="text" id="tag{{ forloop.counter }}" name="tags[]" placeholder="{{ t }}" class="form-control" value="{{ t }}"></input>
                        <span id="delete_tag{{ forloop.counter }}" class="input-group-addon tag_remover">Remove</span>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="input-group">
                        <input type="text" id="tag0" name="tags[]" placeholder="awesome" class="form-control"></input>
                        <span id="delete_tag0" class="input-group-addon tag_remover">Remove</span>
                    </div>
                {% endif %}
            </div>
                <button id="addtag" type="button">Add tag</button><!-- type="button" must be used so this doesn't submit the form-->
                <p></p>
                <input type="submit" value="Submit game"></input>
        </form>
    </div>
{% endblock %}
