{% extends 'store/base.html' %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <h3>{{ g.title }}</h3>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'store/images/russia.jpeg' %}" alt="picture of game"></img>
            </div>
            <div class="col-sm-5">
                {% if g.description %}
                    <p>{{ g.description }}</p>
                {% else %}
                    <p>No description available.</p>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <span>Tags: </span>
                <ul>
                {% for t in g.get_tags %}
                    <li>{{ t }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2">
            {% if g not in owned %}
                {% if g.price > 0 %}
                <p>{{ g.price }} €</p>
                <form action="/checkout" method="post">  {% csrf_token %}
                    <input name="game_id" type="hidden" value="{{ g.pk }}">
                    <button type="submit" formaction="/checkout">Buy now</button>
                </form>
                {% else %}
                <p>FREE!</p>
                <button>Add to my games</button>
                {% endif %}
            {% else %}
                <p>In my games</p>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Own highscores</div>
            <div class="col-sm-6">Global highscores</div> 
        </div>
        {% if related %}
        <div class="row">
            <h3>Related Games</h3>
            <ul>
            {% for g in related %}
                <li><a href="/allgames/{{ g.0.pk }}">{{ g.0.title }}</a><span> Match: {{ g.1 }}</span></li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="row">
            <p>Wow, this game is unique! There are no related games!</p>
            <p>(if you are the developer of this game, please consider adding some tags)</p>
        </div>
        {% endif %}
    </div>

{% endblock %}
