{% extends "store/base.html" %}
{% load staticfiles %}

{% block head %}
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/home.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center page-header">Gamestore 2015</h1>
    <div id="wrapper">
        <div id="carouselGroup">
            <div id="firstCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive" src="http://s6.postimg.org/nwn8bpou9/johan_pointing.jpg" alt="Having fun coding">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://s6.postimg.org/kd5vznbi9/confused_martin.jpg" alt="Martin confused">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://s6.postimg.org/qs4wwbi81/UI_design.jpg" alt="UI design in progress">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="http://s6.postimg.org/gtznvmxoh/niklas_devving1.jpg" alt="Niklas and his computer">
                    </div>
                </div>
            </div>

            <div id="secondCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img src="http://s6.postimg.org/nwn8bpou9/johan_pointing.jpg" alt="Having fun coding">
                    </div>
                    <div class="item active">
                        <img src="http://s6.postimg.org/kd5vznbi9/confused_martin.jpg" alt="Martin confused">
                    </div>
                    <div class="item">
                        <img src="http://s6.postimg.org/qs4wwbi81/UI_design.jpg" alt="UI design in progress">
                    </div>
                    <div class="item">
                        <img src="http://s6.postimg.org/gtznvmxoh/niklas_devving1.jpg" alt="Niklas and his computer">
                    </div>
                </div>
            </div>

            <div id="thirdCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img src="http://s6.postimg.org/nwn8bpou9/johan_pointing.jpg" alt="Having fun coding">
                    </div>
                    <div class="item">
                        <img src="http://s6.postimg.org/kd5vznbi9/confused_martin.jpg" alt="Martin confused">
                    </div>
                    <div class="item active">
                        <img src="http://s6.postimg.org/qs4wwbi81/UI_design.jpg" alt="UI design in progress">
                    </div>
                    <div class="item">
                        <img src="http://s6.postimg.org/gtznvmxoh/niklas_devving1.jpg" alt="Niklas and his computer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">Try this game out</h2>
    <div class="container">
        <h3><a href="{% url 'gamedetailed' g.pk %}">{{ g.title }}</a></h3>
        <div class="row">
            <div class="col-md-2">
                {% if g.img_url %}
                    <a href="{% url 'gamedetailed' g.pk %}"><img src="{{ g.img_url }}" class="img-thumbnail" alt="picture of game"></a>
                {% else %}
                    <a href="{% url 'gamedetailed' g.pk %}"><img src="{% static 'store/images/default.jpeg' %}" class="img-thumbnail" alt="picture of game"></a>
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if g.description %}
                    <p>{{ g.description }}</p>
                {% else %}
                    <p>No description available.</p>
                {% endif %}
            </div>
            <div class="col-md-3">
                <span>Tags: </span>
                <ul class="list-unstyled">
                {% for t in g.get_tags %}
                    <li>{{ t }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-2">
            {% if g not in owned %}
                {% if g.price > 0 %}
                <p class="js-price">{{ g.price }} €</p>
                <form action="/checkout" method="post"> {% csrf_token %}
                    <input name="game_id" type="hidden" value="{{ g.pk }}">
                    {% if "Players" == request.user.groups.all.0.name %}
                        <button type="submit" formaction="/checkout">Buy now</button>
                    {% elif not "Developers" == request.user.groups.all.0.name %}
                        <a class="btn btn-default btn-sm" role="button" href="{% url 'login' %}">Please log in to play.</a>
                    {% endif %}
                </form>
                {% else %}
                <p class="js-price">FREE!</p>
                <form action="/checkout" method="post"> {% csrf_token %}
                    <input name="game_id" type="hidden" value="{{ g.pk }}">
                    {% if "Players" == request.user.groups.all.0.name %}
                        <button type="submit" formaction="/checkout">Add to my games</button>
                    {% elif not "Developers" == request.user.groups.all.0.name %}
                        <a class="btn btn-default btn-sm" role="button" href="{% url 'login' %}">Please log in to play.</a>
                    {% endif %}
                </form>
                {% endif %}
            {% else %}
                <p>In my games</p>
                <a class="btn btn-default btn-sm" role="button" href="{% url 'play' g.pk %}">Play now!</a>
            {% endif %}
            </div>
        </div>   
    </div>
    <br>
    <div class="container bottom">
        <h2 class="text-center">About us</h2>
        <p class="text-center">Gamestore 2015 is an innovative, cutting-edge, state-of-the-art game store with minimalistic Scandinavian design.</p>
        <p class="text-center">Whether you enjoy playing games or just uploading them, this is the place for you!</p>
        <p class="text-center">We reserve the right to make changes whenever we please. Game prices and games themselves might change/disappear at any given
            moment.</p>
    </div>

{% endblock %}