{% extends "store/base.html" %}

{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="signin-form">
    <form action="/auth" method="post"> {% csrf_token %}
        <h2>Sign in</h2>
        <div class="form-group">
            <label for="username" class="sr-only">Email address</label>
            <input type="text" name="username" id="username" placeholder="Username" autocomplete="on" required autofocus>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <button type="submit" value="login" class="btn btn-default">Log in</button>
    </form>
    <br><div><a href="{% url 'signup' %}">Not yet a member? Sign up here.</a></div>
</div>



{% endblock %}

