{% extends "store/base.html" %}
{% load staticfiles %}
{% block head %}
    <title>My games</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/mygames.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center">My Games</h1>
    <div class="container bottom">
        {% for g in game_set %}
            <a href="{% url 'gamedetailed' g.pk %}"><h3>{{ g.title }}</h3></a>
            <div class="row">
                <div class="col-md-2">
                    {% if g.img_url %}
                    <a href="{% url 'gamedetailed' g.pk %}"><img src="{{ g.img_url }}" alt="picture of game" class="img-thumbnail"></a>
                    {% else %}
                    <a href="{% url 'gamedetailed' g.pk %}"><img src="{% static 'store/images/default.jpeg' %}" alt="picture of game" class="img-thumbnail"></a>
                    {% endif %}
                </div>
                <div class="col-md-5">
                    {% if g.description %}
                        <p>{{ g.description }}</p>
                    {% else %}
                        <p>No description available.</p>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <span>Tags: </span>
                    <ul class="list-unstyled">
                    {% for t in g.get_tags %}
                        <li>{{ t }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'play' g.pk %}"><button>Play now!</button></a>
                </div>
            </div>
        {% endfor %}
        {% if not game_set %}
            <div><p>You do not own any games.</p></div>
        {% endif %}
    </div>
{% endblock %}




