{% extends "store/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/mygames.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% for g in game_set %}
            <a href="{% url 'play' g.pk %}"><h3>{{ g.title }}</h3></a>
            <div class="row">
                <div class="col-sm-2">
                    {% if g.img_url %}
                    <img src="{{ g.img_url }}" alt="picture of game"></img>
                    {% else %}
                    <img src="{% static 'store/images/russia.jpeg' %}" alt="picture of game"></img>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {% if g.description %}
                        <p>{{ g.description }}</p>
                    {% else %}
                        <p>No description available.</p>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    <span>Tags: </span>
                    <ul>
                    {% for t in g.get_tags %}
                        <li>{{ t }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        {% if not game_set %}
            <div><p>You do not own any games.</p></div>
        {% endif %}
    </div>
{% endblock %}




