{% extends "store/base.html" %}

{% block content %}
    <div class="container">
        <h1>New Game</h1>
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post"> {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <input id="title" name="title" type="text" placeholder="My Cool Game" class="form-control"></input>
                <label for="url">URL:</label>
                {% if form.url.errors %}
                    {% for error in form.url.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <input id="url" name="url" type="url" placeholder="http://example.com" class="form-control"></input>
                <label for="price">Price:</label>
                {% if form.price.errors %}
                    {% for error in form.price.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="input-group">
                  <span class="input-group-addon">€</span>
                  <input id="price" name="price" type="number" placeholder="0" class="form-control"></input>
                </div>
                <label for="description">Description:</label>
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <textarea id="description" name="description" placeholder="Most. Awesome. Game. Ever." class="form-control"></textarea>
                <label for="tags">Tags:</label>
                {% if form.tags.errors %}
                    {% for error in form.tags.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <textarea id="tags" name="tags" placeholder="game cool awesome" class="form-control"></textarea>
                <input type="submit" value="Submit game"></input>
            </div>
        </form>
    </div>
{% endblock %}
