{% extends "store/base.html" %}
{% load staticfiles %}

{% block head %}
<script type="text/javascript" src="{% static 'store/js/playgame.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ gamename }}</h1>
            <iframe id="gameframe" src="{{ gameurl }}"></iframe>
            <button id="savebutton">Save</button>
            <button id="loadbutton">Load</button>
        </div>
    </div>
</div>

{% endblock %}