{% extends "store/base.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'store/css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <div class="row">
        <form action="/signup" method="post"> {% csrf_token %}
            {% for field in form %}
                <div class="col-xs-6 col-sm-offset-3">
                    {{ field.label }}
                </div>
                <div class="col-xs-12 col-sm-8 col-sm-offset-3">
                    {{ field }}
                </div><br /><br /><br />
            {% endfor %}
            <div class="col-xs-3 col-sm-offset-5"><input type="submit" value="Register"/>
        </form>
    </div>
</div>
{% endblock %}