/* Medium devices */
@media (max-width: 992px) {
    div {
        text-align: center;
    }
}

.input-group {
    margin-bottom: 20px;
}

.style-header {
    margin-bottom: 25px;
}

ul {
    /* Prevents dots from moving to the far left in (at least) Chrome */
    list-style-position: inside;
}