body {
    padding-top: 50px;
}

.navbar {
    background-color: #900;
}

.navbar-nav a,
.navbar-header a {
    color: #FFF;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #808080;
}

/* 'Three stripes' in navbar on mobile device */
.icon-bar {
    background-color: #FFF;
}

/* Opening the dropdown menu in the navbar; focusing elsewhere when opened */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #333;
}

.glyphicon-home {
    margin-right: 15px;
}

/* Adding additional space to the bottom. Please use this class on any element placed last on a page */
.bottom {
    margin-bottom: 30px;
}