/* Medium devices */
@media (max-width: 992px) {
    div {
        text-align: center;
    }
}

/* Custom font used in h1 and h2 headers */
@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobster-two/LobsterTwo-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'lobster';
}

h1.text-center {
    font-size: 84px;
}

h2.text-center {
    font-size: 48px;
    border-top: 1px solid #EEE;
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
}

#carouselGroup {
    padding-top: 480px;
    position: relative;
}

.carousel {
    top: 0px;
    bottom: 0px;
    position: absolute;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: inherit;
    max-width: initial;
}

#firstCarousel {
    z-index: 5;
    left: 10%;
    right: 0px;
}

#firstCarousel .item img,
#firstCarousel .item a img {
    max-width: 100%;
    height: auto;
}

#secondCarousel {
    position: absolute;
    left: 30%;
    z-index: 4;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

#thirdCarousel {
    position: absolute;
    left: 50%;
    z-index: 3;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Fiddlery with the width of the carousels on different screen sizes */
@media (min-width: 993px) {
    #firstCarousel {
        left: 0px;
    }
    #secondCarousel {
        left: 20%;
    }
}

@media (min-width: 1500px) {
    #firstCarousel {
        left: 200px;
    }
    #secondCarousel {
        left: 30%;
    }
}

@media (max-width: 992px) {
    #firstCarousel {
        left: 0px;
    }
    #secondCarousel {
        left: 15%;
    }
    h1.text-center {
        font-size: 64px;
    }
}

@media (max-width: 767px) {
    #firstCarousel {
        left: 0px;
    }
    #secondCarousel {
        left: 10%;
    }
}

/* Start responsive padding */
@media (max-width: 694px) {
    #carouselGroup {
        padding-top: 80%;
    }
}

/* Hide #car2 and #car3 when scaling #car1 */
@media (max-width: 654px) {
    #secondCarousel, #thirdCarousel {
        display: none;
    }
}
