
h2 {
    text-align: center;
}
/*
input {
    width: 80%;
}
*/
@media (max-width: 767px) {
    input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    input {
        width: 80%;
    }
}